body {
     font-family: sans-serif;
     font-size: 12pt;
     margin-top: 5%;
     margin-bottom: 8%;
     background: #fff; color: #black;
     margin-left: 15%; margin-right: 15%;
}


h1 {
   font-size: 18pt;
   color: #ea8400;
   padding-top: 1em;
   text-align: left;
   border-bottom: 2px solid #aaa;
}

h2 {
   font-size: 16pt;
   padding-top: 1em;
   border-bottom: 1px solid #ccc;
}

h3 {
   font-size: 14pt;
   padding-top: 0.5em;
   border-bottom: 1px solid #eee;
}

.todo, .deadline { color: red; }
.done { color: green; }


.tag {text-align: right; color: blue;}
.timestamp {padding-left: 2px; padding-right: 2px; color: black;}
background-color: #ccc; border: solid 1px #aaa;}

h1.title { text-align: left; }
.target { background-color: lavender; }



.menu {
      color: #666;
}

.menu a:link {
      color: #888;
}
.menu a:active {
      color: #888;
}
.menu a:visited {
      color: #888;
}

a:link {
      color: #8b6508;
}
a:active {
      color: #8b6508;
}
a:visited {
      color: #8b6508;
}

img { align: center; }

pre {
	border: 1pt solid #aaaaaa;
	background-color: #cccccc;
	padding: 5pt;
	font-family: courier, monospace;
	font-size: 9pt;
}

table { border: 0px; border-collapse: collapse; }

td, th {
	vertical-align: top;
	border: 0px;
}
