[{harmony,
  [{listen_port, 1234},
   {log_file, "priv/log/harmony.log"},
   {uni_dets, "priv/db/uni.db"}
  ]
 },
 {sasl,
  [{sasl_error_logger, {file, "priv/log/sasl.log"}},
   {errlog_type, error},
   {error_logger_mf_dir,"priv/log/sasl"},
   {error_logger_mf_maxbytes,10485760}, % 10 MB
   {error_logger_mf_maxfiles, 10}
  ]
 },
 {mnesia,[{dir, "priv/db"}]}
].
